build.xml~
.DS_Store
.classpath
.settings
.project
.externalToolBuilders
.metadata
.idea
*.class
build.properties
context.xml
CVS
dist
build
*.idea
bin
*.log
out
*.war
target
*.eml
*.iml
*.zip
.gradle
logs
.vscode
workspace.xml
rebel.xml
*_configuration.json
scopes.txt
IgnoredTests.java
google-prod.json
libs